[Desktop Entry]
Name=Shoes Federales
Exec={hdir}/.shoes/federales/shoes
StartupNotify=true
Terminal=false
Type=Application
Comment=Ruby Graphical Programming
Icon={hdir}/.shoes/federales/static/app-icon.png
Categories=Development;Applications;
